/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --bs-heading-color: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#landing-page {
  background: url("app/public/images/uhm-lowercampus-waikiki.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#buildingForm {
  width: 60%;
}

#footer {
  background-color: #6FB879;
  color: white;
}

#nav {
  background-color: #6FB879;
  color: white;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
}

/* CSS for ListFacilities */
.blur-background {
  backdrop-filter: blur(200px);
}

/* fixed height for the images */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* height of the image in the modal */
.img-fluid {
  height: 300px;
  object-fit: cover;
}

.cropped {
  object-fit: cover;
  height: 500px;
  width: 700px;
}

.backgrnd {
  background: url("/images/form-background.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}


